{% extends "base.html" %}

{% block content %}
<body>
    <div class="flexbox-container">
        <a href="/"><div class="flexbox-item flexbox-item-1">home</a></div>
        <div class="flexbox-item flexbox-item-2"><a href="/about/">about</a></div>
        <div class="flexbox-item flexbox-item-3"><a href="/sign-up/">register</a></div>
        <div class="flexbox-item flexbox-item-4"><a class="login" href="/login/">login</a></div>
        <div class="axis main-axis"></div>
        <div class="axis cross-axis"></div>
    </div>
</body>
<h1> <img class="logo" src="../static/images/lock.png" alt="logo secret manager"> <i><b><marquee>Secret Manager</marquee> </b></i></h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ad, numquam itaque nobis, exercitationem blanditiis quod quidem adipisci ex, deleniti labore eveniet magnam eaque placeat maxime sit in eius similique voluptas? Est cum incidunt, tempore consequuntur similique, sapiente expedita magnam aliquam aspernatur obcaecati voluptate consequatur iste, repellat quidem impedit quaerat minima deleniti vitae architecto earum magni.</p>
<p>secret manger is een applicatie om je diepste geheimen te bewaren en later weer in te zien  </p>



<p class="copyright">&copy; Robin P</p>
{% endblock %}