{% extends "base.html" %}

{% block content %}

<body class="flexbox">
    <div class="flexbox-container">
        <div class="flexbox-item flexbox-item-1"><a href="/">home</a></div>
        <div class="flexbox-item flexbox-item-2"><a href="/about/">about</a></div>
        <div class="flexbox-item-6">
            <h2> <img class="logo" src="../static/images/lock.png" alt="logo secret manager"> <i><b>Secret Manager</b></i></h2>
        </div>
        <div class="flexbox-item flexbox-item-3"><a href="/sign-up/">register</a></div>
        <div class="flexbox-item flexbox-item-4"><a class="login" href="/login/">login</a></div>
        <div class="axis main-axis"></div>
        <div class="axis cross-axis"></div>
    </div>
</body>

<h1>your secrets are safe with us</h1>
<p>secret manager houd je geheimen veilig </p>



<p class="copyright">&copy; Robin P</p>
{% endblock %}