{% extends "base.html" %}

{% block content %}
<!-- hieronder wordt de flash message weergegeven -->
<p class="flash" fade> <!--hierin komen de flash messages te staan -->
    {%for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
</p>
<h1>jouw geheimen zijn veilig bij ons</h1>
<p> met Secret Manager blijven je geheimen en wachtwoorden veilig bewaard zodat jouw diepste geheimen achter slot en grendel blijft.</p>
<p>Onze missie is om je rust te geven over dat je wachtwoorden en geheimen veilig zijn tegen nieuwsgierige ogen en ongewenste indringers.</p>
<p> Onze secret manager is jouw digitale kluis, waarin je al je geheimen en wachtwoordem kunt opslaan. </p>
<p>Of het gaat om persoonlijke notities, belangrijke afspraken of toegangscodes,</p>
<p>wij zorgen ervoor dat alles veilig wordt bewaard.</p>
<p>om meer te weten wat secret manager doet<a href="/about/">klik dan hier</a> om meer over secret manager te weten te komen.</p>

<h2>Hoe is de data veilig van u ?</h2>
<p> wij maken gebruik van hashes om uw wachtwoord te beveiligen en het gehasde wachtwoord wordt vergeleken met het wachtwoord wat u invoert</p>
<p> Verder zijn de testen die belangrijk zijn voor het veilig hebben van de database uitgevoerd </p>
<p> Secret manager maakt gebruik van een hash om je wachtwoorden te beveiligen.</p>
<p> Secret manager maakt gebruik van een session om je ingelogd te houden.</p>

<footer class="row">
    <p class="help"><a href="/register_help/">Need help with making a account?</a></p> 
    <p class="security_procedure"><a href="/security_procedures/">what are the procedures we used?</a></p>
    <p class="security"><a href="/security/">how is my data save?</a></p>
</footer> 
{% endblock %}