{% extends "base.html" %}

{% block content %}
<footer class="about-text">
    <p><b>Ontdek Secret Manager: Jouw Veilige Kluis voor Geheimen</b></p>

    </p>In een wereld waar privacy steeds kostbaarder wordt, is er een nieuwe en betrouwbare metgezel opgestaan: Secret
    Manager. Deze revolutionaire app is ontworpen met één duidelijk doel voor ogen - het beschermen van jouw geheimen en
    persoonlijke informatie</p>

    </p> <b>Jouw Geheimen, Onze Verantwoordelijkheid</b> </p>

    </p>Secret Manager belooft niet alleen je geheimen te bewaren, maar ook om ze te beschermen alsof ze de onze zijn.
    Wij garanderen dat jouw vertrouwelijke informatie
    veilig achter slot en grendel blijft, ver buiten het bereik van nieuwsgierige ogen en hackers. </p>

    </p> <b>Eenvoudig in Gebruik, Krachtig in Prestaties</b> </p>

    </p>We hebben Secret Manager ontworpen met gebruiksgemak in gedachten. Het intuïtieve ontwerp maakt het gemakkelijk
    om geheimen toe te voegen, te verwijderen, allemaal met slechts een paar tikken op het scherm. Onze
    app is beschikbaar op verschillende platforms, zodat je altijd toegang hebt tot je geheimen, waar je ook bent. </p>

    </p> <b>Privé en Veilig Delen</b> </p>

    </p>Soms wil je een geheim delen, maar alleen met een select gezelschap. Secret Manager biedt je de mogelijkheid om
    geheimen te delen met anderen, maar alleen als jij dat wilt. Geef specifieke mensen toestemming om toegang te
    krijgen, en behoud tegelijkertijd de volledige controle over wie wat kan zien. </p>

    </p> <b>Jouw Account, Jouw Geheimen</b> </p>

    </p>Bij Secret Manager begrijpen we dat jouw geheimen jouw geheimen zijn, en daarom zorgen we ervoor dat alleen jij
    toegang hebt tot je account. Jouw persoonlijke inloggegevens en identiteit worden met de grootste zorg beschermd,
    zodat je met een gerust hart je geheimen kunt bewaren. </p>

    </p> <b>Onze Missie</b> </p>

    </p>Bij Secret Manager geloven we dat privacy een fundamenteel recht is dat iedereen verdient. Onze missie is om een
    veilige en vertrouwde ruimte te bieden waar je jouw meest waardevolle geheimen kunt bewaren, wetende dat ze veilig
    zijn voor nieuwsgierige ogen. </p>

    </p>Kortom, Secret Manager is de ultieme metgezel voor iedereen die op zoek is naar gemoedsrust en de garantie van
    privacy in een steeds digitalere wereld. Gebruik vandaag nog Secret Manager en ontdek de gemoedsrust die het kan
    brengen terwijl je jouw kostbare geheimen veilig achter slot en grendel houdt. Jouw geheimen, jouw
    verantwoordelijkheid - met Secret Manager. </p>
</footer>   
<footer class="row">
        <p class="help"><a href="/register_help/">Need help with making a account?</a></p> 
        <p class="security_procedure"><a href="/security_procedures/">what are the procedures we used?</a></p>
        <p class="security"><a href="/security/">how is my data save?</a></p>
</footer> 
    <p class="copyright">&copy; Robin P</p> <!-- copyright-->
{% endblock %}