{% extends "base.html" %}

{% block content %}
<!-- hieronder wordt de navigatiebalk weergegeven -->
<body class="flexbox">
    <div class="flexbox-container">
        <div class="flexbox-logo">
            <h2> <img class="logo" src="../static/images/lock.png" alt="logo secret manager"> <i><b>Secret Manager </b></i></h2>
        </div>
        <div class="flexbox-item flexbox-home"><a href="/">home</a></div>
        <div class="flexbox-item flexbox-about"><a href="/about/">about</a></div>
        <div class="flexbox-item flexbox-register">
            <!-- hieronder wordt de username weergegeven als de gebruiker is ingelogd, als de gebruiker niet is ingelogd wordt er een link weergegeven naar de register pagina -->
            {% if username %}
            <a class="login" href="/logout">logout</a>
            {% else %}
            <a class="login" href="/register/">register</a>
            {% endif %}
        </div>
        <div class="flexbox-item flexbox-login">
            {% if username %}
            <a href="/logged-in/">{{ username }}</a>
            {% else %}
            <a class="login" href="/login/">login</a>
            {% endif %}</div>
        <div class="axis main-axis"></div>
        <div class="axis cross-axis"></div>
        
    </div>
</body>
<footer class="help-text">
    <h1>Registreren bij Secret Manager<h1>

    <h2>Om een account bij Secret Manager aan te maken is een gebruikersnaam en een wachtwoord nodig.</h2>
    <h2>Dit kan worden ingevoerd in de twee invoervelden die op het aanmeldformulier zichtbaar is.</h2>
    <h2>In het eerste invoerveld kan de gebruikersnaam worden ingevoerd en in het invoerveld onder de gebruikersnaam 
    kan het wachtwoord worden ingevoerd, zodra dat is gedaan kan de register knop worden ingedrukt.</h2>
    <h2>Het is belangrijk om een sterk wachtwoord te kiezen om te voorkomen dat kwaadwillende personen 
    met een zogenaamde 'brute force'-aanval proberen toegang te krijgen tot je account.</h2>
    <h2>Na het inloggen verschijnt het dashboard bovenaan de pagina, waar toegang wordt verleend tot de geheimen 
    en nieuwe geheimen kunnen worden toegevoegd.</h2>
    <h2>Als het helder is hoe er geregistreed moet worden klik dan op register en meld aan.</h2>
</footer>
<p class="copyright">&copy; Robin P </p>
{% endblock %}