{% extends "base.html" %} {% block title %}logged in{% endblock %} {% block content %}
<body class="flexbox">
    <div class="flexbox-container">
        <div class="flexbox-item-6">
            <h2> <img class="logo" src="../static/images/lock.png" alt="logo secret manager"> <i><b>Secret Manager </b></i></h2>
        </div>
        <div class="flexbox-item flexbox-item-1"><a href="/">home</a></div>
        <div class="flexbox-item flexbox-item-2"><a href="/about/">about</a></div>
        <div class="flexbox-item flexbox-item-3"><a class="login" href="/logout">logout</a></div>
        <div class="flexbox-item flexbox-item-4">
            {% if Username %}
            <a href="/logged-in/">{{ Username }}</a>
            {% else %}
            <a class="login" href="/login/">login</a>
            {% endif %}</div>
        <div class="axis main-axis"></div>
        <div class="axis cross-axis"></div> 
    </div>
    <p class="flash">
        {%for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
    </p>
     <h1> hello {{Username}}</h1> <!--hier wordt de username weergegeven als de gebruiker is ingelogd -->
    <form action="/logged-in/" method="POST" class="login-page flexbox-item-5"> <!--hier word de method en action aangegeven voor het formulier-->
        <p class="input-box"> <!-- hierin wordt het formulier aangemaakt voor info, required maakt het verplicht om in te vullen -->
            <input type="text" name="name" id="geheim" placeholder="where or what is it for" maxlength="30" required>
        </p> 
        <p class="input-box"> <!-- hierin wordt het formulier aangemaakt voor name en wordt gevraagd waar het voor is, required maakt het verplicht om in te vullen -->
            <input type="text" name="info" placeholder="enter secrets or passwords here" maxlength="255" required >
        </p> 
        <input type="submit" class="btn" value="save"> <!-- hiermee wordt een submit button aangemaakt met de tekst save -->	
    </form>
    <td>
        {% if Username %} <!-- als de gebruiker is ingelogd wordt er een tabel weergegeven met de geheimen die de gebruiker heeft ingevoerd -->
        <table class="center" border="3">
            <tr> <!-- hier worden de kolommen aangemaakt -->
                <th>name</th>
                <th>info</th>
                <th>remove ?</th>
                <th>update ?</th>
            </tr>
            {% for row in data %} <!-- hier worden alle geheimen laten zien met het id, naam en de info, als kers op 
            de taart is er een delete knop-->
            <tr>
                <td class="name_info">{{ row[1] }}</td>
                <td class="info">{{ row[2] }}</td>
                <td class="delete"><a href="/delete/{{ row[0] }}" confirm>delete</a></td>
                <td class="update"><a href="/update/{{ row[0] }}" confirm>update</a></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </td>
    
</body>

{% endblock %}