{% extends "base.html" %} {% block title %}logged in{% endblock %} {% block content %}
<body>
    <p class="flash">
        {%for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
    </p>
     <h1> hello {{username}}</h1> <!--hier wordt de username weergegeven als de gebruiker is ingelogd -->
     <!-- hier maak ik de form aan voor het opslaan van de geheimen, de action is de url waar het formulier naar toe moet en de method is post -->
    <form action="/logged-in/" method="POST" class="login-page flexbox-item-5"> <!--hier word de method en action aangegeven voor het formulier-->
        <p class="input-box"> <!-- hierin wordt het formulier aangemaakt voor info, required maakt het verplicht om in te vullen -->
            <input type="text" name="name" id="geheim" placeholder="where or what is it for" maxlength="30" required>
        </p> 
        <p class="input-box"> <!-- hierin wordt het formulier aangemaakt voor name en wordt gevraagd waar het voor is, required maakt het verplicht om in te vullen -->
            <input type="text" name="info" placeholder="enter secrets or passwords here" maxlength="255" required >
        </p> 
        <input type="submit" class="btn" value="save"> <!-- hiermee wordt een submit button aangemaakt met de tekst save -->	
    </form>
    <td>
        <!-- als de username in de session is dan moet hij laten zien wat hieronder staat -->
        {% if username %} <!-- als de gebruiker is ingelogd wordt er een tabel weergegeven met de geheimen die de gebruiker heeft ingevoerd -->
        <table class="center" border="3">
            <tr> <!-- hier worden de kolommen aangemaakt -->
                <th>id</th>
                <th>name</th>
                <th>info</th>
                <th class="delete_header">remove ?</th>
                <th class="update_header">update ?</th>
                <th class="share_header">share ?</th>
            </tr>
            <!-- hier doen we een for loop om de geheimen te laten zien,
            verder maak ik in de id kolom een loop index zodat hij telt hoveel geheimen er zijn
            in name info komt de naam van het geheim en in info komt de info van het geheim
            de knoppen delete en update worden aangemaakt en krijgen een link mee naar de delete functie en update functie
            hier worden alle geheimen laten zien met het id, naam en de info, als kers op 
            de taart is er een delete knop-->
            {% for row in secrets%} 
            <tr>
                <td class="id">{{loop.index}} {{row[]}}</td>
                <td class="name_info">{{ row[1] }}</td>
                <td class="info">{{ row[2] }}</td>
                <td class="delete"><a href="/delete/{{ row[0] }}">delete</a></td>
                <td class="update"><a href="/update/{{ row[0] }}">update</a></td>
                <td class="share"><a href="/share/{{ row[0] }}">share</a></td>
            </tr>
            {% endfor %}
            <br>
            <tr> <!-- hier worden de kolommen aangemaakt -->
                <th>id</th>
                <th>name</th>
                <th>info</th>
                <th>from who?</th>
            </tr>
    
            {%for row in shared_secrets%}
            <tr>
                <td class="id">{{loop.index}} {{row[]}}</td>
                <td class="name_info">{{ row[1] }}</td>
                <td class="info">{{ row[2] }}</td>
                <td class="from">{{ row[3] }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </td>
    
</body>

{% endblock %}