{% extends "base.html" %} {% block title %}logged in{% endblock %} {% block content %}
<body class="flexbox">
    <div class="flexbox-container">
        <div class="flexbox-item-6">
            <h2> <img class="logo" src="../static/images/lock.png" alt="logo secret manager"> <i><b>Secret Manager </b></i></h2>
        </div>
        <div class="flexbox-item flexbox-item-1"><a href="/">home</a></div>
        <div class="flexbox-item flexbox-item-2"><a href="/about/">about</a></div>
        <div class="flexbox-item flexbox-item-3"><a class="login" href="/logout">logout</a></div>
        <div class="flexbox-item flexbox-item-4">
            {% if Username %}
            {{ Username }}
            {% else %}
            <a class="login" href="/login/">login</a>
            {% endif %}</div>
        <div class="axis main-axis"></div>
        <div class="axis cross-axis"></div> 
    </div>
    <h1> hello {{Username}}</h1>
    <form action="/logged-in/" method="POST" class="login-page flexbox-item-5">
        <p class="input-box">
            <input type="text" name="info" id="geheim" placeholder="enter secrets or passwords here">
        </p> 
        <p class="input-box">
            <input type="text" name="name" placeholder="what's it for">
        </p> 
        <input type="submit" class="btn" value="save">
    </form>
    <td>
        
    </td>
</body>

{% endblock %}