{% extends "base.html" %} {% block title %}login{% endblock %} {% block
content %}
<body class="flexbox">
  <div class="flexbox-container">
      <div class="flexbox-logo">
          <h2> <img class="logo" src="../static/images/lock.png" alt="logo secret manager"> <i><b>Secret Manager </b></i></h2>
      </div>
      <div class="flexbox-item flexbox-home"><a href="/">home</a></div>
      <div class="flexbox-item flexbox-about"><a href="/about/">about</a></div>
      <div class="flexbox-item flexbox-register"><a href="/register/">register</a></div>
      <div class="flexbox-item flexbox-login">
      {% if username %}
      <a href="/logged-in/">{{ username }}</a>
      {% else %}
      <a class="login" href="/login/">login</a>
      {% endif %}</div>
      <div class="axis main-axis"></div>
      <div class="axis cross-axis"></div>
      
  </div>
</body>
<body>
  <p class="flash">
    {%for message in get_flashed_messages() %} <!-- hierin komen de flash messages te staan -->
    <div class="flash">{{ message }}</div>
    {% endfor %}
</p>
  <form action="/login/" method="POST" class="login-page flexbox-item-5">
        <h1>Login</h1>
        <p class="input-box">
          <input type="username" name="username" placeholder="username" maxlength="30" required> <!-- hierin wordt het formulier aangemaakt voor username, required maakt het verplicht om in te vullen -->
        </p>
        <p class="input-box">
         <input type="password" name="password" placeholder="Password" maxlength="255" required> <!-- hetzelfde als hierboven maar dan voor password-->
        </p> 
        <div class="remember-forgot"> <!-- hiermee wordt een checkbox aangemaakt met de tekst remember me -->
          <label><input type="checkbox" class="checkbox-big" name="remember">Rememeber me</label>
          <a href="#">Forgot password ?</a> <!-- hiermee wordt een link aangemaakt met de tekst forgot password -->
        </div>
        <input type="submit" class="btn" value="login"> <!-- hiermee wordt een submit button aangemaakt met de tekst login -->
        <div class="register-link">
          <p>Don't have an account? <a href="/sign-up/">sign up</a></p> <!-- hiermee wordt een link aangemaakt met de tekst don't have an account? die verwijst naar sign up -->
        </div>
  </form>
    </div>
  </body>
</body>
<p class="copyright">&copy; Robin P</p>
{% endblock %}