{% extends "base.html" %} {% block title %}login{% endblock %} {% block
content %}

<body>

  <body class="login-page">
    <div class="flexbox-item-5">
      <form action="">
        <h1>Login</h1>
        <div class="input-box">
          <input type="text" placeholder="Username" required>
        </div>
        <div class="input-box">
          <input type="password" placeholder="Password" required>
        </div>
        <div class="remember-forgot">
          <label><input type="checkbox" class="checkbox-big">Rememeber me</label>
          <a href="#">Forgot password ?</a>
        </div>
        <button type="submit" onclick="alert('you logged in')" class="btn">login</button>
        <div class="register-link">
          <p>Don't have an account? <a href="/sign-up/">sign up</a></p>
        </div>
      </form>
    </div>
  </body>
</body>
<p class="copyright">&copy; Robin P</p>
{% endblock %}