{% extends "base.html" %} {% block title %}login{% endblock %} {% block
content %}
<body class="flexbox">
  <div class="flexbox-container">
      <div class="flexbox-item-6">
          <h2> <img class="logo" src="../static/images/lock.png" alt="logo secret manager"> <i><b>Secret Manager </b></i></h2>
      </div>
      <div class="flexbox-item flexbox-item-1"><a href="/">home</a></div>
      <div class="flexbox-item flexbox-item-2"><a href="/about/">about</a></div>
      <div class="flexbox-item flexbox-item-3"><a href="/register/">register</a></div>
      <div class="flexbox-item flexbox-item-4"><a class="login" href="/login/">login</a></div>
      <div class="axis main-axis"></div>
      <div class="axis cross-axis"></div>
      
  </div>
</body>
<body>

  <body action="/login/" method="POST" class="login-page">
    <div class="flexbox-item-5">
      <form action="">
        <h1>Login</h1>
        <div class="input-box">
          <input type="text" placeholder="Username" required>
        </div>
        <div class="input-box">
          <input type="password" placeholder="Password" required>
        </div>
        <div class="remember-forgot">
          <label><input type="checkbox" class="checkbox-big">Rememeber me</label>
          <a href="#">Forgot password ?</a>
        </div>
        <button type="submit" onclick="alert('you logged in')" class="btn">login</button>
        <div class="register-link">
          <p>Don't have an account? <a href="/sign-up/">sign up</a></p>
        </div>
      </form>
    </div>
  </body>
</body>
<p class="copyright">&copy; Robin P</p>
{% endblock %}