{% extends "base.html" %} {% block title %}share{% endblock %} {% block content %}
<body>
    <p class="flash">
        {%for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
    </p>
    <!-- hiermee  maak je een form voor het delen van je geheim aan een andere gebruiker
    in de action geef ik door dat hij naar share functie moet gaan met de id dat je hebt doorgegeven in de url -->
    {%for id in secrets%}
    <form action="/share/{{id[0]}}" method="POST" class="login-page flexbox-item-5"> <!--hier word de method en action aangegeven voor het formulier-->
        <p class="input-box"> <!-- hierin wordt het formulier aangemaakt voor info, required maakt het verplicht om in te vullen -->
            <input type="text" name="username"  placeholder="who may know your secret?" maxlength="30" required>
        </p> 
        {% endfor %}
        <input type="submit" class="btn" value="save"> <!-- hiermee wordt een submit button aangemaakt met de tekst save -->	
    </form>	
    
</body>

{% endblock %}