{% extends "base.html" %} {% block title %}register{% endblock %} {% block
content %}
<body class="flexbox">
    <div class="flexbox-container">
        <div class="flexbox-item-6">
            <h2> <img class="logo" src="../static/images/lock.png" alt="logo secret manager"> <i><b>Secret Manager </b></i></h2>
        </div>
        <div class="flexbox-item flexbox-item-1"><a href="/">home</a></div>
        <div class="flexbox-item flexbox-item-2"><a href="/about/">about</a></div>
        <div class="flexbox-item flexbox-item-3"><a href="/register/">register</a></div>
        <div class="flexbox-item flexbox-item-4">
        {% if Username %}
        {{ Username }}
        {% else %}
        <a class="login" href="/login/">login</a>
        {% endif %}</div>
        <div class="axis main-axis"></div>
        <div class="axis cross-axis"></div>
        
    </div>
</body>
<body>

    <form action="/register/" method="POST" class="login-page flexbox-item-5">
                <h1>Sign Up</h1>
                <p class="flash">
                    {%for message in get_flashed_messages() %}
                    <div class="flash">{{ message }}</div>
                    {% endfor %}
                </p>
                <p class="input-box">
                    <input type="text" name="username" placeholder="Username" maxlength="256" required>
                </p>
                <p class="input-box">
                    <input type="password" name="password" placeholder="Password" maxlength="256" required>
                </p>
                <P class="remember-forgot">
                    <label><input type="checkbox" class="checkbox-big" required>i agree to the terms</label>
                    <!--<a href="#">Forgot password ?</a>-->
                </P>
                <input type="submit" class="btn" value="register">
                <div class="register-link">
                    <p>have a account? <a href="/login/">login</a></p>
                </div>
    </form>
</body>
<p class="copyright">&copy; Robin P</p>
{% endblock %}