{% extends "base.html" %} {% block title %}register{% endblock %} {% block
content %}

<body>

    <body action="/sign-up/" method="POST" class="login-page">
        <div class="flexbox-item-5">
            <form action="">
                <h1>Sign Up</h1>
                <div class="input-box">
                    <input type="text" placeholder="Username" required>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Password" required>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox" class="checkbox-big" required>i agree to the terms</label>
                    <!--<a href="#">Forgot password ?</a>-->
                </div>
                <button type="submit" class="btn">register</button>
                <div class="register-link">
                    <p>have a account? <a href="/login/">login</a></p>
                </div>
            </form>
        </div>
    </body>
</body>
<p class="copyright">&copy; Robin P</p>
{% endblock %}