{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
    content %}
    <body>
        <div class="flexbox-container">
            <div class="flexbox-item flexbox-item-1"><a href="/">home</a></div>
            <div class="flexbox-item flexbox-item-2"><a href="/about/">about</a></div>
            <div class="flexbox-item flexbox-item-3"><a href="/sign-up/">register</a></div>
            <div class="flexbox-item flexbox-item-4"><a class="login" href="/login/">login</a></div>
            <div class="axis main-axis"></div>
            <div class="axis cross-axis"></div>
        </div>
    </body>
    <h1>Secret Manager</h1>
    {% endblock %}