{% extends "base.html" %} {% block title %}share{% endblock %} {% block content %}
<body>
    <p class="flash">
        {%for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
    </p>
    <!-- hier wordt een form om een geheim te updaten aangemaakt
    in de action geef ik door dat hij naar update functie moet gaan met de id dat je wordt meegegeven uit logged-in in de url -->
    {%for id in secrets%}
    <form action="/update/{{id[0]}}" method="POST" class="login-page flexbox-item-5"> <!--hier word de method en action aangegeven voor het formulier-->
        <p class="input-box"> <!-- hierin wordt het formulier aangemaakt voor info, required maakt het verplicht om in te vullen -->
            <input type="text" name="name"  placeholder="What have you type wrong for name?" maxlength="30" required>
        </p>
        <p class="input-box"> <!-- hierin wordt het formulier aangemaakt voor info, required maakt het verplicht om in te vullen -->
            <input type="text" name="info"  placeholder="What you have you typed wrong for info?" maxlength="30" required>
        </p>
        {% endfor %}
        <input type="submit" class="btn" value="save"> <!-- hiermee wordt een submit button aangemaakt met de tekst save -->	
    </form>	
    
</body>

{% endblock %}