/*maakt dat alle text arial font heeft*/
*{
    font-family: Arial, Helvetica, sans-serif;
}
/*maakt dat h1 een achtergrondkleur van whitesmoke heeft en een border van 2pixels heeft die zwart en solide is, de text in het midden staat en dat hij blijft staan als je naar beneden scrolt*/
h2{
    background-color: whitesmoke;
    border: 2px solid black;
    text-align: center;
    position: sticky;
    align-self: flex-start;
    top: 40px;
}
/*het logo van de secret manager 50 px hoog maken zodat hij in de border past*/
img.logo{
    width: auto;
    height: 50px; 
}
/* maakt dat alle text van de class about-text in het midden staat*/
.about-text{
    text-align: center;
}
/*maakt de achtergrond de matrix rain en als die er niet is dan wordt het rood en geel*/
body {
    background-color: red yellow;
    background: url(../images/matrix.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
/*maakt de content de hoogte van 1000 pixels en een minale hoogte van 97vp (viewport height), het heeft een margin van 1 element size en heeft een percentage die automaties wordt berekent en heeft een achtergrond kleur van #abc*/
.content {
    max-width: 1000px;
    min-height: 97vh;
    margin: 1em auto;
    background-color: #abc;
}
/*maakt van alle flexbox een flex item en zet alle text in het midden en maakt dat alle flexboxes center worden gezet */
.flexbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    position: sticky;
    top: 0px;
}
/*maakt dat de wijde 200 pixels is en de margin 15 pixels is, verder is de border van flexbox item 3px dik en een solid line en krijgt de kleur #333. achtergrond kleur is alice blue en wordt de text in het midden gezet*/
.flexbox-item{
    width: 200px;
    margin: 15px;
    border: 3px solid #333;
    background-color: aliceblue;
    text-align: center;
}
/*maakt dat flexbox item 1 en 2 een minimale hoogte heeft van 10 pixels*/
.flexbox-item-1, .flexbox-item-2 .flexbox-item-6{
    min-height: 10px;
}
/*maakt dat flexbox item 3 een minimale hoogte heeft van 10 pixels en een achtergrond kleur van groen krijgt*/
.flexbox-item-3{
    min-height: 10px;
    background-color: rgb(0, 255, 0);    
}
/*maakt dat flexbox item 3 een minimale hoogte heeft van 10 pixels en een achtergrond kleur van blauw krijgt en een text kleur van wit krijgt*/
.flexbox-item-4{
    min-height: 10px;
    background: rgb(0, 191, 255);
    color: white;
}
/*maakt de login knop als er met de muis erover wordt gezweefd lichtblauw*/
.flexbox-item-4 a:hover{
    background:lightblue;
    display: block;
}
/*maakt de register knop als er met de muis erover wordt gezweefd lichtgroen */
.flexbox-item-3 a:hover{
    background: lightgreen;
    display: block;
}
/*maakt de knoppen als er met de muis erover wordt gezweefd lichtgrijs*/
.flexbox-item-1 a:hover, .flexbox-item-2 a:hover{
    background: lightgray;
    display: block;
}
/*maakt de text kleur zwart met geen text decoratie*/
a:active, a:visited, a:link, a:hover{
    color: black;
    text-decoration: none;    
}
/*login en register pagina setup met de kleuren en doorgeven wat voor soort container het is, verder important toegevoegd om het extra speciaal te maken en de login in het midden zetten*/
.flexbox-item-5 {
    display: flexbox;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    color: #fff;
    justify-content:center !important;
    align-items: center;
    border-radius: 10px;
    padding: 30px 40px;
}
/*font size naar 40 pixels gezet, verder text in het midden gezet geen border en achtergrondkleur moet het zelfde zijn als dat achter hem*/
.flexbox-item-5 h1{
    font-size: 40px;
    text-align: center;
    border: none;
    background-color: inherit; 
}
/*maakt de breedte 99 procent van het totale en de hoogte is 70 pixels, hij heeft een margin van 30pixels met geen percentage*/
.flexbox-item-5 .input-box{
    width: 99%;
    height: 70px;
    margin: 30px 0;
}
/*maakt de breedte en lengte 100 procent, de achtergrond transparant, geen borders, geen outline, border is 2 pixels solide en kleur 255,255,255, .2. border radius is 40 pixels, font size is 16 pixels, de text is wit en staat in het midden */
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
/*maakt de placeholder text wit*/
.input-box input::placeholder {
    color: #fff;

}
/*maakt de remember forget een flex container, de content is space between en is belangrijk, de text staat in het midden en de font size is 15 pixels*/
.flexbox-item-5 .remember-forgot{
    display:flex;
    justify-content: space-between !important;
    text-align: center;
    font-size: 15px;
    margin: -15px 0 15px;
}
 /*maakt de accent kleur wit, de margin is rechts 7 pixels */
.remember-forgot label input {
    accent-color: white;
    margin-right: 7px;
}
/*maakt de remember forget wit met geen text decoratie*/
.remember-forgot a{
    color: #fff;
    text-decoration: none;
}
/*maakt de text decoratie een underline*/
.remember-forgot a:hover {
    text-decoration: underline;
}
/*maakt de button groot genoeg dat het mooi is op de website, en maakt van je muis een pointer als je erovereen zweeft*/
.flexbox-item-5 .btn {
    width: 100%;
    height: 50px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 30 px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
/*zet de text van de register knop in het midden*/
.flexbox-item-5 .register-link{
    font-size: 14,5 px;
    text-align: center;
    margin-top: 30px 0 15px;
}
/*maakt de register link zwart met geen text decoratie en het font gewicht is 600*/
.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
/*geeft de register link een underline als je eroverheen zweeft*/
.register-link p a:hover{
    text-decoration: underline;
}
/*zet de copyright in het midden*/
p.copyright{
    text-align: center;
}