/*maakt dat alle text arial font heeft*/
*{
    font-family: Arial, Helvetica, sans-serif;
}
/*maakt dat h1 een achtergrondkleur van whitesmoke heeft en een border van 2pixels heeft die zwart en solide is, de text in het midden staat en dat hij blijft staan als je naar beneden scrolt*/
h1{
    background-color: whitesmoke;
    border: 2px solid black;
    text-align: center;
    position: sticky;
    align-self: flex-start;
    top: 40px;
}
/*het logo van de secret manager 50 px hoog maken zodat hij in de border past*/
img.logo{
    width: auto;
    height: 50px; 
}
/* maakt dat alle text van de class about-text in het midden staat*/
.about-text{
    text-align: center;
}
/*maakt de achtergrond de matrix rain en als die er niet is dan wordt het rood en geel*/
body {
    background-color: red yellow;
    background: url(../images/matrix.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.content {
    max-width: 1000px;
    min-height: 97vh;
    margin: 1em auto;
    background-color: #abc;
}
/*maakt van alle flexbox een flex item en zet alle text in het midden en maakt dat alle flexboxes center worden gezet */
.flexbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    position: sticky;
    top: 0px;
}
/*maakt dat de wijde 200 pixels is en de margin 15 pixels is, verder is de border van flexbox item 3px dik en een solid line en krijgt de kleur #333. achtergrond kleur is alice blue en wordt de text in het midden gezet*/
.flexbox-item{
    width: 200px;
    margin: 15px;
    border: 3px solid #333;
    background-color: aliceblue;
    text-align: center;
}
/*maakt dat flexbox item 1 en 2 een minimale hoogte heeft van 10 pixels*/
.flexbox-item-1, .flexbox-item-2{
    min-height: 10px;
}
/*maakt dat flexbox item 3 een minimale hoogte heeft van 10 pixels en een achtergrond kleur van groen krijgt*/
.flexbox-item-3{
    min-height: 10px;
    background-color: rgb(0, 255, 0);    
}
/*maakt dat flexbox item 3 een minimale hoogte heeft van 10 pixels en een achtergrond kleur van blauw krijgt en een text kleur van wit krijgt*/
.flexbox-item-4{
    min-height: 10px;
    background: rgb(0, 191, 255);
    color: white;
}
/**/
.login a:link a:active a:visited{
    color: white;
    
}
.flexbox-item-4 a:hover{
    background:lightblue;
    display: block;
}
.flexbox-item-3 a:hover{
    background: lightgreen;
    display: block;
}
.flexbox-item-1 a:hover, .flexbox-item-2 a:hover{
    background: lightgray;
    display: block;
}
a:active{
    color: black;
    text-decoration: none;    
}
a:visited{
    color: black;
    text-decoration: none;
}
a:hover{
    color: black;
    text-decoration: none;
}
a:link{
    color: black;
    text-decoration: none;
}
.flexbox-item-5 {
    display: flexbox;
    /*  */
    /*width: 500px;*/
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    color: #fff;
    justify-content:center !important;
    align-items: center;
    border-radius: 10px;
    padding: 30px 40px;
    /* Add this property to prevent content overflow */
}
.flexbox-item-5 h1{
    font-size: 40px;
    text-align: center;
    border: none;
    background-color: inherit;
    
}
.flexbox-item-5 .input-box{
    width: 99%;
    height: 70px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.input-box input::placeholder {
    color: #fff;

}

.flexbox-item-5 .remember-forgot{
    display:flex;
    justify-content: space-between !important;
    text-align: center;
    font-size: 15px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: white;
    margin-right: 7px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
}
.flexbox-item-5 .btn {
    width: 100%;
    height: 50px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 30 px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.flexbox-item-5 .register-link{
    font-size: 14,5 px;
    text-align: center;
    margin-top: 30px 0 15px;
}
.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}
p.copyright{
    text-align: center;
}
.flexbox-item-5 .agree label input{
    accent-color: white;
    position: sticky;
    margin-right:5px;
    float: left;
}